nav ul li a {
    color: white;
}

.navbar-brand img {
    width: 70px;

}

nav .icons {
    color: white;
    width: 20px;
    display: flex;
    justify-content: space-around;
    padding: 5px;
    margin: 5px;
    display: block;
}

@media only screen and (max-width: 600px) {
    nav .icons {
        display: none;
    }
}